/* Created by: Ben Thomson
 * Created on: 2023-02-28
 * This CSS file defines the style for index.html
*/

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #a9d6e5;
}

h3 {
  background-color: rgb(97 165 194);
  color: hsl(206deg 97% 15%);
  text-align: center;
  font-weight: 900;
  padding: 40px;
}

p {
  background-color: darkslateblue;
  color: #89c2d9;
  font-weight: 900;
  padding: 10px;
}

.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}

img {
  border-style: solid;
  border-color: #03045e;
}
